:root {
  --gap: 15px;
  --border: 3px;
}

@font-face {
  font-family: "Muller";
  src: local("muller-bold"),
    url("../fonts/muller-bold.woff2") format("woff2"),
    url("../fonts/muller-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("muller-regular-italic"),
    url("../fonts/muller-regular-italic.woff2") format("woff2"),
    url("../fonts/muller-regular-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("muller-regular"),
    url("../fonts/muller-regular.woff2") format("woff2"),
    url("../fonts/muller-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

body {
  min-height: 100%;
  font-family: "Muller", sans-serif;
  background: radial-gradient(#00fff0, #008b8b);
  background-repeat: no-repeat;
}

.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;
  max-width: 1200px;
}

.title {
  margin: 30px 0;
  padding: 0;
  text-align: center;
  font-size: 72px;
  font-style: italic;
}

.start-game-form {
  flex-direction: column;
  max-width: 45%;
}

.label {
  margin-bottom: 60px;
  font-size: 36px;
  font-style: italic;
}

.input {
  padding: 5px 5px 5px 15px;
  border: 1px solid #20b2aa;
  border-radius: 36px;
  font-size: 24px;
  background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3), -5px -10px 20px rgba(255, 255, 255, 0.5);
}

.button,
.final-button {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 40px 20px 40px;
  border: 1px solid #20b2aa;
  border-radius: 48px;
  background: radial-gradient(farthest-side ellipse at top left, white, #aaaaaa);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3), -5px -10px 20px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-list {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.timer {
  margin-bottom: 30px;
  margin-left: -380px;
  font-size: 18px;
}

.minutes {
  margin-right: 5px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: var(--border) solid #2e8b57;
  border-radius: 24px;
  font-size: 0;
  list-style: none;
  cursor: pointer;
  background-color: #00fa9a;
}

.card:not(:last-child) {
  margin-bottom: var(--gap);
}

.card-is-opened-true {
  border: var(--border) solid #2e8b57;
  font-size: 24px;
  pointer-events: none;
  background-color: #7fffd4;
  background-image: none;
}

.blocked-card {
  pointer-events: none;
}

.button,
.label,
.input {
  font-size: 24px;
}

.hidden {
  display: none;
}

.button:hover,
.button:focus,
.button:active,
.final-button:hover,
.final-button:focus,
.final-button:active {
  transform: scale(1.1);
}